name: Harris FTP Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  ftp-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Test step
        run: echo "Workflow triggered successfully"
